.searchItem {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.siImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.siDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.siTitle {
    font-size: 20px;
    color: #aa6f73;
}

.siDesc {
    font-size: 12px;
}

.siNote {
    height: 20px;
}

.siPrice {
    flex: 1;
}